<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Featured"></Label>
</ActionBar>

<StackLayout>
    <Label class="h3 text-center m-y-10" text="Aplicaciones Moviles"></Label> 
    <Image src="~/images/home.png"></Image>
    <Label class="fondo footnote text-center m-y-10" text="Copyright ©2019"></Label> 
    <StackLayout orientation="horizontal" horizontalAlignment="center">
        <Button text="Opiniones" class="btn " (tap)="onNavButtom('/featured1')"></Button>
        <Button text="Comentarios" class="btn btn-default" (tap)="onNavButtom('/featured2')"></Button>
    </StackLayout>

    <GridLayout class="page__content">
        <Label class="page__content-icon fas" text="&#xf005;"></Label>
        <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>

        <GridLayout class="bg-primary p-15 m-15" width="200" height="200"
            (longPress)="onLongPress($event)">
            <Image class="img-rounded" src="res://icon" stretch="none"></Image>
        </GridLayout>
    </GridLayout>
</StackLayout>