<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Opiniones"></Label>
</ActionBar>

<GridLayout columns="auto,*,auto" rows="auto, 25"
     verticalAlignment="bottom" backgroundColor="lightblue" (tap)="goBack()" >
    
    <Image src="res://icon" rowSpan="2" width="72" height="72" 
        margin="3" verticalAlignment="top" ></Image>
    <Label text="Excelente hotel!" textWrap="true" col="1" colSpan="2" 
        minHeight="50" fontSize="20" margin="3"></Label>
    <Label text="Usuario: Carlos Perez" col="1" row="1" 
        fontSize="14" horizontalAlignment="left"
        verticalAlignment="bottom" margin="3"></Label>
    <Label text="Puntuación: 4.3" col="2" row="1" color="blue" fontSize="14" verticalAlignment="bottom"
        margin="3"></Label>
</GridLayout>
